@media (max-width: 1000px) {
    .splash-text-big {
        font-size: 50px;
    }
    #movies .col-3{
        width: 50%;
    }
    .movie{
        margin-top: 50px;
    }
    .movie_trailer iframe{
        height: 250px;
    }
}

@media (max-width: 750px){
    .container{
        padding: 0 20px;
    }
    nav{
        display: block;
        height: 100vh;
        width: 50%;
        transform: translateX(-100%);
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
    }
    .nav-open{
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
    .nav-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #222;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: fixed;
        top: 20px;
        z-index: 1000;
    }
    .nav-menu ion-icon{
        width: 30px;
        height: 30px;
    }
    .nav-close{
        display: block;
        color: #fff;
    }
    .nav-close ion-icon{
        width: 30px;
        height: 30px;
    }
    .navigation{
        margin-top: 100px;
    }
    .navigation-item {
        margin-left: 0;
        display: block;
        margin-bottom: 40px;
    }
}

@media (max-width: 550px){
    .splash-text-big br {
        display: none;
    }
    #movies .col-3{
        width: 100%;
    }
    #footer .col-3{
        width: 50%;
    }
    header{
        background-image: linear-gradient(rgba(255, 0, 0, 0.383), rgba(143, 143, 211, 0.459)), url("../img/bg-sm.jpg");
    }
    .movie{
        margin-top: 20px;
    }
}

@media (max-width: 450px) {
    nav{
        width: 80%;
    }
    .splash-text-big {
        font-size: 45px;
        line-height: 1.3;
    }
    .footer-btm-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer-btm-wrapper > * {
        margin-bottom: 10px;
    }
    .movie_trailer iframe{
        height: 200px;
    }
}